<br>
<br>
<h3>Add new patient</h3>

<br>

<%= form_tag :action => 'create', :class => 'form-horizontal' do %>

<div class="form-group">
<label for = "patient_name" class="control-label col-sm-1">Name:</label>
<div class="col-sm-3">
<%= text_field 'patients', 'name', :class => 'form-control' %>
</div>
</div>

<br>
<br>
<br>

<div class="form-group">
<label for = "patient_dateofbirth" class="control-label col-sm-1">Date of Birth:</label>
<div class="col-sm-3">
<%= date_field 'patients', 'dateofbirth', :class => 'form-control' %>
</div>
</div>

<br>
<br>

<div class="form-group">
<label for = "patient_address" class="control-label col-sm-1">Address:</label>
<div class="col-sm-3">
<%= text_area 'patients', 'address', :class => 'form-control' %>
</div>
</div>

<br>
<br>
<br>

<div class="form-group">
<label for = "patient_phonenumber" class="control-label col-sm-1">Phone Number:</label>
<div class="col-sm-3">
<%= number_field 'patients', 'phonenumber', :class => 'form-control' %>
</div>
</div>

<br>
<br>

<p><label for = "patient_injury">Injury</label><br/>
<%= text_area 'patients', 'injury' %></p>

<p><label for = "patient_requestscan">Request Scan</label>:
<%= text_field 'patients', 'requestscan' %></p>

<p><label for = "patient_typeofscan">Type of scan</label>:
<%= text_field 'patients', 'typeofscan' %></p>

<%= submit_tag "Create"%>

<% end -%>