<%= search_form_for @search do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.submit %>
<% end %>



<% if @patients.blank? %>
<p>Search for patients in the system.</p>
<% else %>
<h1>Patients</h1>
  <table class="table patient-list sortable" id="patientTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Address</th>
      <th>Phone Number</th>
       <th>Issue/Injury</th>
      <th >Scan Requested</th>
      <th >Type of Scan</th>
      <th >Doctor ID</th>
      <th >Doctor Contact Email</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.dateofbirth %></td>
        <td><%= patient.address %></td>
        <td><%= patient.phonenumber %></td>
       <td><%= patient.injury %></td>
        <td><%= patient.requestscan %></td>
        <td><%= patient.typeofscan %></td>
        <td><%= patient.user.id %></td>
        <td><%= patient.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>