<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">

   <head>
      <meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
      <meta http-equiv = "Content-Language" content = "en-us" />
      <title>SHC-PMS</title>
      <%= stylesheet_link_tag "style" %>
   </head>

   <body id = "library">
      <div id="main-container" class="container-fluid">
        <div class="row">
         <div id = "header">
            <h1 class="bg-primary text-center">Smart Health Care - Patient Management System</h1>
         </div>

         <div id = "sidebar">


         <div id = "content">
         <ul class="nav navbar-nav">

               <li><%= link_to 'Homepage', {:action => 'index' }, :class => 'btn btn-primary navbar-btn' %></li>
               <li><%= link_to "Add new Patients", {:action => 'new' }, :class => 'btn btn-primary navbar-btn' %></li>
               <li><%= link_to "List all Patients", {:action => 'list' }, :class => 'btn btn-primary navbar-btn' %></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
               <% if user_signed_in? %>
                 <li>
                    <%= link_to('Edit User Profile', edit_user_registration_path, :class => 'btn btn-primary navbar-btn') %>
                 </li>
                 <li>
                    <%= link_to('Logout', destroy_user_session_path, :class => 'btn btn-primary navbar-btn') %>
                 </li>
               <% else %>
                 <li>
                 <%= link_to('Login', new_user_session_path, :class => 'btn btn-primary navbar-btn')  %>
                 </li>
               <% end %>

             </ul>
            <%= yield -%>

         </div>


         </div>
        </div>
      </div>
   </body>

</html>